div {
    font-size: 0;
    border: 2px ridge gray;
}
.gaming{
    width: 40%;
    background-color: skyblue;
    font-family: 'Open Sans Condensed', sans-serif;
}
.movies{
    width: 35%;
    background-color: tomato;
    Font-style: italic;
    font-family: 'Open Sans Condensed', sans-serif;
}
.music{
    width: 25%;
    background-color: yellow;
    Font-style: italic;
    font-family: 'Open Sans Condensed', sans-serif;
}
